@{
    ViewData["Title"] = "Agregar candidatos";

}
<div>
    <h1>Agregar candidato</h1>
</div>
<form method="post" action='@Url.Action("GuardarCandidato","Home")'>
     <div class="form-group">
        <input  type="hidden" name="partido" value="@ViewBag.idPartido"> 
    </div>
      <p> Escriba el nombre del candidato: </p>
      <div class="form-group 4">
        <input  type="text" name="Nombre" > 
    </div>
<p> Escriba el apellido del candidato: </p>
      <div class="form-group 4">
        <input  type="text" name="Apellido"> 
    </div>
    <p>Suba una foto del candidato que eligio: </p>
    <div class="form-group 3">
        <input  type="file" name="partido" value=""> 
    </div>
     <p> Agregue el idPartido: </p>
      <div class="form-group 4">
        <input  type="text" name="partido"> 
    </div>
   
     
    <div class="form-group mt-2">
        <input  class="btn btn-success"  type="submit" name="">
    </div>
</form>