@{
    ViewData["Title"] = "Home Page";
}

@foreach (Partido item in ViewBag.listPartido)
{
<div class="card">
    <img class="card-img-top" src="@item.Logo" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">@item.Nombre</h2>
    </div>
        <div class="card-footer">
      <small class="text-muted"><a href='@Url.Action("VerDetallePartido", new {IDPartido=@item.IDPartido})'><button>haga click aqui, Para ver el detalle del partido.</button></a></small>
    </div>
  </div>
}