html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.container
{
  display: flex;
  justify-content: space-around;
 
  
}
.card{
  width: 30%;
  margin: 1%;
}
.Partido{
  display: flex;
  justify-content: space-around;
}
.Partido, img{
  width: 200px;
}
.img{
  display: flex;
  justify-content: space-around;
  
}
.texto{
  margin-top: 10%;
 font-size: xx-large;
 margin:5% ;
}
.padreElecciones , .padreC , .detalle
{
  border:2px solid black ;
  background-color: bisque;
  margin: 10%;
}

.padreC
{
  width: 100%;
}

.padreC img
{
  height: 20%;
}

h5{
  margin: 3px;
}